h1{
    color: lightgreen;
    font-style: italic;
    font-weight: 300px;
}
p{
    font-family: Arial Narrow;
    font-size: 120%;
}
img{
    width: 6cm;
    border-radius: 5%;
    margin: 10px;
    float: center;
    padding-top: 15;
}
body{
    background-color: grey;
    margin-top: 20px;
}